// Custom.scss
// Option A: Include all of Bootstrap
$theme-colors: (
    "dark-main": #222222,
    "white-main": #eeeeee,
    "blue-main": #6cace7,
    "darkblue-main": #041729,
    "purple-main": #595ba8,
    "orange-main": #ca9012,
);
// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.home {
    background-image: url("../public/img/sky.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin-bottom: 32px;
    &-link-specials {
        width: 22%;
        font-size: 12px;
    }
}

.planets {
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.moon {
    animation: rotation 180s infinite linear;
    width: 280px;
    @media (min-width: 1240px) {
        width: 420px;
    }
}

.moons {
    background-image: url('../public/img/space.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: fit-content;
    margin-bottom: 32px;
    padding-bottom:32px;
    &-cards-specials {
        background-color: #030b1bc5;
        transition: .5s;
        &:hover {
            background-color: #06173bad;
            transform:scale(1.02)
        }
    }
}

.sun {
    background-image: url("../public/img/sun_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: fit-content;
    margin-bottom: 32px;
    padding-bottom:32px;
}

.sun-specials {
    background-color: #6b4b009a;
    transition: .5s;
    &:hover {
        background-color: #b9900963;
        transform: scale(1.02);
    }
}

.objects {
    background-image: url('/public/img/objects.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom:32px;
    margin-bottom: 32px;
}

.answers {
    background-color:#010318;
    min-height: fit-content;
    padding-bottom:32px;
}

.navbar-specials {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
}

.link-specials {
    color: white;
    transition: 0.3s;
    &:hover {
        color: #6cace7;
    }
}

svg {
    transition: 0.3s;
    &:hover {
        fill: #6cace7;
        transform: rotate(270deg);
    }
}

.planets-bg {
    background-color: #00010c;
}

.cards-wrapper-specials {
    margin-left: 32px;
    margin-right: 32px;
    @media (min-width: 992px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.card-specials {
    background-color: #24a4df1c;
    color: white;
    transition: .5s;
    &:hover {
        background-color: #34b8f538;
    }
}

.img-specials {
    max-width: 240px;
    animation: move 2s infinite linear;
    transition: all .3s;
}

.btn-specials {
    transition: 0.3s;
    width: 80%;
    &:hover {
        transform: scale(1.1);
    }
}

.text-specials {
    text-align: justify;
    font-size: 12px;
}

.button-container {
    max-width: 200px;
}

.planet-image {
    max-width: 220px;
    width: 100%;
    margin: auto;
    @media (max-height: 500px) {
        display: none;
    }
}