// Custom.scss
// Option A: Include all of Bootstrap
$theme-colors: (
    "dark-main": #222222,
    "white-main": #eeeeee,
    "blue-main": #6cace7,
);
// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    25% {
        transform:translateY(2px)
    }
    50% {
        transform:translateY(0)
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.home {
    background-image: url("../public/img/sky.jpg");
    background-size: cover;
    background-repeat: space;
    min-height: 100vh;
    margin-bottom: 64px;
    z-index: 1;
    position: relative;
}

.moon {
    animation: rotation 180s infinite linear;
    width: 280px;
    @media (min-width: 1240px) {
        width: 420px;
    }
}

.navbar-specials {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
}

.link-specials {
    color: white;
    transition: 0.3s;
    &:hover {
        color: #6cace7;
    }
}

svg {
    transition: 0.3s;
    &:hover {
        fill: #6cace7;
        transform: rotate(270deg);
    }
}

main {
    z-index: 1;
}
.planets {
    margin-bottom: 64px;
    position: relative;
    width: 100vw;
    max-height: 1000px;
}
.planets-wrapper {
    max-width: 100vw;
    max-height: 1000px;
    overflow: hidden;
    @media (min-width: 2440px) {
        max-width: 2440px;
        margin: auto;
    }
}
.background-rotation {
    background-image: url("../public/img/sky.jpg");
    background-position: center;
    background-attachment: fixed;
    animation: rotation 180s infinite linear;
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: 200vh;
    width: 200vw;
    left: -50vw;
    top: -50vh;
}

.planets-content-wrapper {
    width: 100%;
    @media (min-width: 2440px) {
        max-width: 2440px;
        margin: auto;
    }
    position: absolute;
    z-index: 50;
    top: 0;
    position: absolute;
    color: #eeeeee;
    padding: 64px;
}

.card-specials {
    background-color: #000000a2;
    color: white;
}

.img-specials {
    max-width: 320px;
    animation: move 2s infinite linear;

}

.btn-specials {
    transition: .3s;
}

.btn-specials:hover {
    transform:scale(1.1)
}