// Custom.scss
// Option A: Include all of Bootstrap
$theme-colors: (
    "dark-main": #222222,
    "white-main": #eeeeee,
    "blue-main": #6cace7,
);
// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.home {
    background-image: url("../public/img/sky.jpg");
    background-size: cover;
    background-repeat: space;
    min-height: 100vh;
    margin-bottom: 32px;
    z-index: 1;
    position: relative;
}

.moon {
    animation: rotation 180s infinite linear;
    width: 280px;
    @media (min-width: 1240px) {
        width: 420px;
    }
}

.navbar-specials {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
}

.link-specials {
    color: white;
    transition: 0.3s;
    &:hover {
        color: #6cace7;
    }
}

svg {
    transition: 0.3s;
    &:hover {
        fill: #6cace7;
        transform: rotate(270deg);
    }
}

main {
    z-index: 1;
}

.planets-bg {
    background-color: #00010c;
}

.planets {
    margin-bottom: 32px;
}

.cards-wrapper-specials {
    margin-left: 32px;
    margin-right: 32px;
    @media (min-width: 992px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.card-specials {
    background-color: #24a4df1c;
    color: white;
    transition: .5s;
}

.card-specials:hover {
    background-color: #34b8f538;
}

.img-specials {
    max-width: 240px;
    animation: move 2s infinite linear;
}

.btn-specials {
    transition: 0.3s;
    width: 80%;
}

.btn-specials:hover {
    transform: scale(1.1);
}

.button-container {
    max-width: 200px;
}

.xx {
    height: 3000px;
    background-color: #6cace7;
}